<p id="notice"><%= notice %></p>

<h1>Tweets</h1>


<% @tweets.each do |tweet| %>
  <div class= "row">
    <div class="col-sm-4 col-md-6 col-lg-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= tweet.user.name %><span class="text-muted"> @<%= tweet.user.username %></span><span class="btn-group float-right">
          <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Más acciones
          </button>
          <span class="dropdown-menu">
          <button class="dropdown-item" type="button"><a><%= link_to 'Show', tweet %><a></button>
          <button class="dropdown-item" type="button"><%= link_to 'Edit', edit_tweet_path(tweet) %></button>
          <button class="dropdown-item" type="button"><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></button>
          </span>
          </span></h5>
          <p class="card-text"><%= tweet.message %></p>
          <a href="#" class="btn"><%= fa_icon "random" %> Retwittear</a>
          <a href="#" class="btn"><%= fa_icon "reply" %> Responder</a>
          <a href="#" class="btn text-danger"><%= fa_icon "heart" %> Marcar como favorito</a>
        </div>
      </div>
    </div>
  </div>
<% end %>

<br>

<%= link_to 'New Tweet', new_tweet_path %>
