<h1>El perfil y los tweets de @<%= @user.username %></h1>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= @user.name %><%= link_to "@#{tweet.user.username}", show_user_path(id: tweet.user.id) %></h5>
    <p class="card-text"><%= @user.location %></p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
    <p>
    <% if current_user.following.include?(@user.id) %>
        <%= link_to "Unfollow", unfollow_path(id: @user.id), class: "btn btn-danger" %>
    <% else %>
        <% if current_user.id != @user.id %>
	        <%= link_to "Follow", now_following_path(id: @user.id), class: "btn btn-primary" %>
	    <% end %>
    <% end %>
</p>
  </div>
</div>

<p><%= @user.name %></p>
<p><%= @user.location %></p>
<p><%= @user.bio %></p>

<p>
    <% if current_user.following.include?(@user.id) %>
        <%= link_to "Unfollow", unfollow_path(id: @user.id), class: "btn btn-danger" %>
    <% else %>
        <% if current_user.id != @user.id %>
	        <%= link_to "Follow", now_following_path(id: @user.id), class: "btn btn-primary" %>
	    <% end %>
    <% end %>
</p>

<% @user.tweets.each do |tweet| %>
    <div>
        <p>@<%= @user.username %></p>
	    <p><%= tweet.message %></p>
    </div>
<% end %>
